<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <title> Comprobador de numero de tarjetas </title>
    <link rel="stylesheet" href="index.css" type="text/css">
    <style>
        button {
            background-color: #cafecafe;
            padding: 10;
            margin: 10
        }
        label {
            font-size: 12;
            
        }
        button, label, input, select, textarea {
            font-family : 'courier';
            font-size: 100%;
        }
    </style>

</head>

<html>
    <body>
        <div name="analizado">
            <label for="numero">El numero de tarjeta:</label>
            <br>
            <label for="id_numero"> {{card_number}} </label> 
            <br>
            <label for="tipo_tarjeta" style="font-size: 14">{{tipo_tarjeta}}</label>
        </div>

        <button type="submit" value="volver" onClick="history.back()">volver</button>
       
    </body>
</html>